@import url("https://fonts.googleapis.com/css2?family=Handlee&family=Permanent+Marker&display=swap");

body {
  max-width: 1000px;
  margin: auto;
  padding: 0.5rem;
  background-color: rgb(247, 232, 211);
}

h1 {
  font-family: "Permanent Marker", cursive;
  font-size: 2.5rem;
  color: rgb(172, 81, 32);
  text-align: center;
  margin-top: 10px;
  margin-bottom: 8px;
}

h3 {
  font-family: "Handlee", cursive;
  font-size: 1.3rem;
  color: rgb(93, 45, 19);
  text-align: center;
  margin: 0px;
}

p {
  font-family: "Handlee", cursive;
  font-size: 1rem;
  color: rgb(93, 45, 19);
  text-align: center;
  margin: 0px;
}

.kitchen {
  width: 100%;
  height: 100vh;
  background-image: url("img/kitchenBG.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

.utensil {
  transition: transform 0.2s;
}

.utensil:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.utensil-row {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 30px;
  position: absolute;
}

.utensil-row img {
  position: relative;
}

.pan {
  position: absolute;
  top: 35%;
  left: 7%;
  width: 30%;
}

.spoon {
  position: absolute;
  top: 23.5%;
  left: 82.5%;
  width: 7%;
}

.chopsticks {
  position: absolute;
  top: 24%;
  left: 86%;
  width: 5.6%;
}

.glass2 {
  position: absolute;
  top: 28.5%;
  left: 82%;
  width: 100px;
}

.cuttingBoard {
  position: absolute;
  top: 55%;
  left: 40%;
  width: 35%;
}

.knife {
  position: absolute;
  top: 40.5%;
  left: 65%;
  width: 9%;
}

dialog[open] {
  margin: auto;
  padding: 1rem;
  background-color: beige;
  color: rgb(72, 45, 8);
  border: rgb(72, 45, 8);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
dialog::backdrop {
  background-color: rgba(65, 45, 17, 0.5);
}
#dialogCloseButton {
  background-color: rgb(230, 217, 198);
  color: rgb(65, 45, 17);
  padding: 0 1rem;
}
