@import url("https://fonts.googleapis.com/css2?family=Handlee&family=Permanent+Marker&display=swap");

body {
  max-width: 1000px;
  margin: auto;
  padding: 0.5rem;
  background-color: rgb(247, 232, 211);
}

h1 {
  font-family: "Permanent Marker", cursive;
  font-size: 2.5rem;
  color: rgb(172, 81, 32);
  text-align: center;
  margin-top: 10px;
  margin-bottom: 8px;
}

h3 {
  font-family: "Handlee", cursive;
  font-size: 1.3rem;
  color: rgb(93, 45, 19);
  text-align: center;
  margin: 0px;
}

p {
  font-family: "Handlee", cursive;
  font-size: 1rem;
  color: rgb(93, 45, 19);
  text-align: center;
  margin: 0px;
}

.kitchen {
  width: 100%;
  height: 660px;
  background-image: url("img/kitchenBg.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  aspect-ratio: 16/9;
  margin: 0 auto;
  overflow: hidden;
  z-index: 1;
}

.kitchen.utensil {
  transition: transform 0.2s;
  z-index: 2;
}

.utensil:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.utensil-row {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 5%;
  position: absolute;
}

.utensil-row img {
  position: relative;
}

.pan {
  position: absolute;
  top: 50%;
  left: 7%;
  width: 30%;
}

.spoon {
  position: absolute;
  top: 33%;
  left: 83%;
  width: 7%;
}

.chopsticks {
  position: absolute;
  top: 33%;
  left: 86%;
  width: 5.6%;
}

.glass2 {
  position: absolute;
  top: 41%;
  left: 83%;
  width: 10%;
}

.cuttingBoard {
  position: absolute;
  top: 68%;
  left: 40%;
  width: 35%;
}

.knife {
  position: absolute;
  top: 62%;
  left: 65%;
  width: 9%;
}

dialog[open] {
  margin: auto;
  padding: 1rem;
  background-color: beige;
  color: rgb(72, 45, 8);
  border: rgb(72, 45, 8);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
dialog::backdrop {
  background-color: rgba(65, 45, 17, 0.5);
}
#dialogCloseButton {
  background-color: rgb(230, 217, 198);
  color: rgb(65, 45, 17);
  padding: 0 1rem;
}

#effectCanvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* lets clicks go through */
  z-index: 1; /* behind everything */
}

#resetBtn {
  display: block;
  margin: 1rem auto;
  padding: 0.5rem 1rem;
  background-color: rgb(172, 81, 32);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Handlee", cursive;
  font-size: 1rem;
}

#resetBtn:hover {
  background-color: rgb(140, 65, 25);
}
